/*

*{
    box-sizing:border-box;
}

p {
    color: #333;
}

.gray {
   color: gray;
}

#pink {
    color: rgb(11, 11, 11);
}

body {
    font-size: 25px;
    padding: 0px;
    border: 0px;
    background-color: #ffd9b8;
    color: #000;
    min-height: 100vh;
}

h1, h2 {
   font-size: larger;
}

.box-model{
    border: 2px dotted red;
    width: 50%;
    padding : 1.5rem;
    margin-top:1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    outline:5px solid rgb(36, 16, 219);
    outline-offset: -20px;
}

.box{
    border: 2px double red;
    width: 50%;
    font-size:1.5rem;
    padding: 1.5em;
    margin-top:1.5em;
    margin-right: 2em;
    margin-bottom: 4em;
    margin-left: 2em;
    outline:5px solid yellow;
    outline-offset: -20px;

}

.circle{
    background-color: gold;
    width: 100px;
    height:100px;
    border: 2px solid #000;
    outline:2px solid red;
    outline-offset: 0.25rem;
    border-radius: 50%;
}
*/
/* CSS Typography
body{
    padding:5%;
    font-size: 2rem;
    color:goldenrod;
}

input, button{
    font: inherit;
}

p{
    text-indent: 2em;
    text-decoration: none;
    text-transform: lowercase;
    text-align: left;
    text-shadow: 0cm;
    line-height: 1.2;
    letter-spacing: 0.1em;
    word-spacing: 0,3em;
    border: 2px double goldenrod;
    margin: 3rem auto;
    border-radius: 10px;
    font-weight: bolder;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}
*/

/* CSS Links*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:hsl(269, 78%, 48%);
}
/*
a:visited{
    color: purple;
}
*/

main{
    opacity: 1;   
}

a:hover,a:focus{
    color:hsl(264, 84%, 22%);
    background: gold;
}

a:active{
    color:red;   
}

